@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


@media only screen and (max-width: 600px) {
 {

  }
}

/* Classes */

.button {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: transparent;
  border: solid rgba(255, 255, 255, 1) 2px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}


a {
  text-decoration: none;
}

.button a:visited {
  color: white; 
  text-decoration: none;
}

.button:hover {
  background-color: #262626;
  border: solid #262626 2px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.button2 {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: transparent;
  border: solid #262626 2px;
  color: #262626;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}


.button2 a:visited {
  color: black;
  text-decoration: none;
}

.button2:hover {
  background-color: #262626;
  border: solid #262626 2px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.menu_item {
  align-content: center;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 5vw;
  line-height: 1.5em;
  margin: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  width: 80%;
}

.menu_item h1 {
  font-size: 40px;
}


/* IDs */

#emp1 {
  background-image: url("emp1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 205px 0px 205px 0px;
  width: 55%;
}

#emp2 {
  background-image: url("emp2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 205px 0px 205px 0px;
  width: 55%;
}

#emp3 {
  background-image: url("emp3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 205px 0px 205px 0px;
  width: 55%;
}

#emp1 p  {
  color: white;
  background-color: #262626;
}

#emp2 p  {
  color: white;
  background-color: #262626;
}

#emp3 p  {
  color: white;
  background-color: #262626;
}

#herotitle{
  font-family: 'Dancing Script', cursive;
  font-size: 8vw;
}

#mainfront{
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  width: 80%;
}

#mainback {
  background-image: url("1pizza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#menu {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5em;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  width: 80%;
}

#icons {
  font-size: 25px;
  margin: 0;
}

#pagetitle  {
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    line-height: 1.5em;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

/* Elements */

body{
  font-family: calibri;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

footer{
  align-items: center;
  background-color: #262626;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

header{
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
}

nav {
  background-color: #262626;
  color: white;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  position: sticky;
  text-align: center;
  width: 100%;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    padding: 15px 25px;
    text-decoration: none;
    margin: 0;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

nav ul li:hover{
  background-color: #a3a3a3;
  color: #fff;
}

section p {
  font-size: 30px;
}
